body{
    margin: 0;
    height: 100%;
    width: 100%;
    }

#background{    
    margin: 0;
    width:100%;
    height: 100vh;
    background: url(./IMG/space.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    background-attachment: fixed;
    background-position: center;

}
.header{
    height:100%;
    width: 100%;
    
}
.intro{
    top: 500px;
    width: 100%;
    position: relative;
    height: 100%;
    float: left;
}

.h1 {
    color: aliceblue;
    text-align: center;
    font-display: Helvetica
    
}
.h2{
    color: aliceblue;
    text-align: center;
    font-display: Helvetica
}
.h3{
    color: aliceblue;
    text-align: center;
    font-display: Helvetica
    
}
main{
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.e1{
    top: 1000px;
    position: relative;
    color: rgb(20, 20, 20);
    text-align: center
}
.OBJ{
    top: 10px;
    position: relative;
    font-size: 30;
    text-align: center;
    float: left;
}
