body{
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 3000px;
 overflow-x: hidden;
 overflow-y: scroll;

  }
  html {
    scroll-behavior: smooth!important;
    
  }
 



#background{
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(./IMG/background.png);
  background-size: 100%;
max-height: 1100px;
}



header{
top: 0;
font-size: 30px;
color: rgb(255, 255, 255);
position: relative;
float: left;
width: 100%;

}
.sobreMenu{
  margin-left: 3%;
  float: left;

}
.ferramentasMenu{
  margin-left: 6%;
  float: left;
}
.qualificacoesMenu{
  margin-left: 7%;
  float: left;
}
p25{
color: transparent;

}
.linkEmail{
  width: 300px;
  color: transparent;
  
 
  height: 0;
  right: 0;
  position: absolute;
  top: 18%;
}
.email{
  width: 90px;
  margin-top: 30px;
  float: right;
  margin-right: 100px;
  background-color: transparent;
  transition: all .2s ease-in-out;
  padding: 20px;
  }
  .email:hover{
    transform: scale(1.2)!important;
    cursor: pointer;
  }
  
.linkedin{
float: right;
position: relative;
width: 63px;
margin-top: 22px;
margin-right: 20px;
transition: all .2s ease-in-out;
}
.linkedin:hover{
  transform: scale(1.2)!important;
  cursor: pointer;
}
.wpp{
  float: right;
  position: relative;
  width: 80px;
  margin-top: 54px;
  margin-right: 30px;
  transition: all .2s ease-in-out;
  
}
.wpp:hover{
  cursor: pointer;
  transform: scale(1.2)!important;


}
.titulo{
max-width: 800px;
color: white;
margin-left: 49px;
width: 35vw;
position: absolute;
float: left;
margin-top: 380px;
font-family: raleway1,raleway;
}
h100{
 margin-top: -1px;
 position: relative;
 float: left;
 margin-left: 1.2vw;
 color: white;
 transition: all .2s ease-in-out;
 font-family: raleway;
}

h100:hover{
  color: #1379cc;
  transform: scale(1.0);
}







#backgroundButton1{
  margin-left: 50px;
  background-color: transparent;
  border: 3px solid rgb(236, 233, 233);
  height: 2.0vw;
  max-height: 85px;
  min-height: 60px;
  min-width: 300px;
  width: 15vw;
  max-width: 300px;
  font-size: 45px;
  font-family: raleway,raleway1;
  color: white;
  transition: all .2s ease-in-out;
  margin-top: 450px;
  position: absolute;
}
#backgroundButton1:hover{
  transform: scale(1.08)!important;
  color: #0047AB;
  border: 3px solid #0047AB;
}






@font-face {
  font-family:raleway;
  src: url(./fontes/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family:ralewayB;
  src: url(./fontes/Poppins-SemiBold.ttf);
}





.intro{
 margin-top: 5vw;
  width: 100%;
  position: relative;
  float: left;
  height: 1600px;
  position: relative;
  background-color: rgb(255, 255, 255);
  left: 20px ;
}

.mask{
 background-color:#053475; 
 height: 23vw;
width: 20vw;
left: 40px ;
max-width: 400px;
max-height: 520px;
z-index: 0;
position: absolute;
}
.mask1{
  background-color:#0448a7; 
  height: 21vw;
  width: 20vw;
  left: 80px ;
  max-width: 400px;
  max-height: 480px;
  z-index: 1;
  position: absolute;
}
.mask2{
  background-color:#0b5ed1; 
  height: 19vw;
  width: 20vw;
  left: 120px ;
  max-width: 400px;
  max-height: 440px;
  z-index: 2;
  position: absolute;
}
.mask3{
  background-color:#3581eb; 
  height: 17vw;
  width: 20vw;
  left: 160px ;
  max-width: 400px;
  max-height: 400px;
  z-index: 3;
  position: absolute;
}
#mascara{
  height: 14vw;
  margin-left: 40px;
  margin-top: 30px;
  width: 23vw;
clip-path:fill-box;
max-width: 500px;
max-height:400px ;
max-width: 600px;
}
.posicionate{
  
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -60px;
  display: flex;
  margin-left: 10vw;
}

.t1{
font-size: 25px;
font-family: raleway,raleway1;
font-weight: bold;
border-bottom: 4px solid #0047AB;
width: 180px;
margin:0 auto;
margin-top: 2vw;
}
.t2{
  font-family: raleway,raleway1;
  font-size: 20px;
  width: 25vw;
  margin-left: -40px;
  max-width: 600px;
}

.introAnime{
opacity: 0;
transform: translate3d(-200px,0,0);
transition: .9s;

}
.introAnimeStart{
opacity: 1;
transform: translate3d(0,0,0);
transition: 1.3s;
}





#sobre10{
  
  position: relative;
  width: 100%;
  height: 1200px;
  background-color: #ffffff;
  font-size: 15px;
  float: left;
  text-align: center;
 
}
h4{
margin: 0 auto;
  max-width: 120px;
  margin-top: 80px;
  font-size: 40px;
  color: #2b2b2b;
  font-family: ralewayB;
  border-bottom:4px solid #0047AB;
  font-weight: bold;
  
}
h5{
  font-family: raleway,raleway1;
  margin-top: 0px;
  font-size: 25px;
  color: #2b2b2b;
  border-bottom: 4px solid #0047AB;
  width: 110px;
  margin-left: 30%;
}
.h5D{
  margin-top: -20px;
}
h6{
  font-family: raleway,raleway1;
  font-size: 115%;
  color: #2b2b2b;
  margin-right:40px ;
  margin-left: 40px;
  margin-top: -27px;

}


.animeCriative{
  opacity: 0;
  transform: translate3d(-100px,0,0);
  transition: .9s;
}
.anime-start{
  opacity: 1;
  transform: translate3d(0,0,0);
  
}
.anime-start1{
  opacity: 1!important;
  transform: translate3d(0,0,0)!important;
}
.anime-start2{
  opacity: 1!important;
  transform: translate3d(0,0,0)!important;
}

.animeInovate{
  opacity: 0;
  transform: translate3d(-100px,0,0);
  transition: .9s;
}

.animeCuriosity{
  opacity: 0;
  transform: translate3d(-100px,0,0);
  transition: .9s;
}

.centralize{
 
  float: left;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}







.criative{

width: 15vw;
float: left;
font-family:raleway;
box-shadow: 0 20px 20px 0 rgb(231, 235, 240), 0 0 0 1px #e6ecf8;
min-height:300px;
border-radius: 12%;
background-color: #ffffff;
min-width: 300px;
max-width: 500px;
max-height: 400px;
height: 12vw;
}
#imageCriative{
margin-top: -3%;
  width: 60%;
}
.inovate{
margin-top: 0px;
width: 15vw;
float: left;
margin: auto 0;
font-family:Arial, Helvetica, sans-serif;
box-shadow: 0 20px 20px 0 rgb(231, 235, 240), 0 0 0 1px #e6ecf8;
height: 12vw;
border-radius: 12%;
min-width: 300px;
min-height:300px;
margin:7vw;
max-width: 500px;
max-height: 400px;
}
#imageInovate{
width: 45%;
  margin-bottom: 05%;
  margin-top: 02%;

  
}
.curiosity{
margin-top: 0px;

display: inline;
width: 15vw;
min-width: 300px;
min-height:300px;
font-family:raleway;
box-shadow: 0 20px 20px 0 rgb(231, 235, 240), 0 0 0 1px #e6ecf8;
height: 12vw;
margin: auto 0;
border-radius: 12%;
max-width: 500px;
display:inline-block;
max-height: 400px;
}
#imageCuriosity{
width: 35%;
margin-bottom: 10%;
margin-top: 02%;

}



.skills{


  max-width: 33vw;
  margin-top: 01vw;
  margin-left: 11vw;
 min-width: 32vw;
  background-color:rgb(255, 255, 255);
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: bold;
  font-family: raleway,raleway1;
  max-width: 700px;
}

.skill-bar{
  margin: 20px;
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
  max-width: 650px
}

.skill-per{
  height: 20px;
  background-color: #0047AB;
  border-radius: 8px;
  width: 30;
  transition: 1s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}
.centralizeskills{
  margin-right: 18%;
  position: relative;
  display: flex;
  float: right;
  width: 32.5%;
  margin-top: -06%;
  
}

h7{
  font-family: raleway,raleway1;
  top: 60px;
  font-size: 40px;
  color: #272727;
  float: left;
  position: relative;

}



.projetosText{
  min-width: 170px;
}



.project {
  margin-top: 150px;
height: 35vw;
background-color: #e7e7e7;
max-height: 800px;
align-items: center;
 
}
.boxP{
  height: 30vw;
  width: 100vw;
  background-color: #e7e7e7;
  max-height: 700px;
  max-width: 3000px;

  margin-top: 40px;
  justify-content: center;
  position: relative;
  display: flex;
}
.boxPchild{  height: 20vw;
  width: 30vw;
  background-color: white;
 margin: 40px;
  margin-top: 40px;
  transition: 0.6s;
  max-width: 800px;
  max-height: 500px;
  cursor: pointer;
}
.boxPchild:hover{
  transform: scale(1.1);
}
#projectReino{
  width: 30vw;
  float: left;
max-width: 800px;
}
h9{
  margin: 0 auto;
  max-width: 120px;
  margin-top: 80px;
  font-size: 40px;
  color: #2b2b2b;
  font-family: ralewayB;
  border-bottom:4px solid #0047AB;
  font-weight: bolder;
  display: block;
}


.habilidades{
  height:40vw ;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}
.habilidadesText{
  min-width: 525px;
}
.habilidadesBoxes{
  height:20vw ;
  width: 100vw;
  justify-content: center;
  position: relative;
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
}
.boxHabilidades{
margin: 30px;
  background-color: rgb(221, 236, 255);
  height: 6vw;
  width: 6vw;
  margin-top: 120px;
  min-height: 12vw;
  min-width: 15vw;
  box-shadow: 0 20px 20px 0 rgb(231, 235, 240), 0 0 0 1px #e6ecf8;
  transition: 1s;
}
.boxHabilidades:hover{
  transform: scale(1.2);
}
.boxH{
  width: 7vw;
  margin-top: 0px;
  padding: 25px;

}

.boxH1{
  width: 6vw;
  margin-top: 9px;
  padding: 25px;
  
}
.contato{
  margin-top: 120px;
  height: 35vw;
  width: 100vw;
  background-color: #e7e7e7;

}