.body{
    margin: 0;
    height:100%;
    width:100%;
}
.imagemPrincipal{
    float: left;
    width: 100%;

}
.header1{
    background: url(./IMG/imagemPP.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}